body{
    display: flex;
    flex-direction: row;
    
}

.image-container{
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
}

.centered-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px white;
    padding: 15px;
}


.first-image{
    max-height: 700px;
    width: 80%;
}

.fa-circle-user { 
    color: gray;
    font-size: 26px;
}

.fa-unlock {
    color: gray;
    font-size: 28px;
    line-height: normal;
}

.nav-main-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-heading{
    text-align: center;
}
.profile-page{
    height: fit-content;
    width: 100%;
    border: black solid 1px;
    padding: 5px;
}

.personal-information{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.profile-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: solid black 2px;
}

.image-col{
    border-right: solid black 1px;
}

hr{
    margin: 10px;
}

.text-center{
    align-self: center;
    text-align: center;
}

.reservation{
    background-color: rgba(34, 33, 32, 0.9);
    color: white;
}

.alternate-reservation{
    background-color: #f3ecec;
    color: black;
}

.underline{
    text-decoration: underline;
}

.bookings-heading{
    margin: 25px;
}

.profile-booking{
    border: solid black 1px;
    border-top: 0;
}

.details-col{
    margin: auto;
}

.awaiting-confirmation{
    color: #ffa90d;
    margin: 10px 0;
}

.fa-circle-exclamation{
    font-size: 24px;
}

.booking-declined{
    color: #ff0505;
    margin: 10px 0;
}

.fa-circle-xmark{
    font-size: 24px;
}

.booking-confirmed{
    color: #15cd15;
    margin: 10px 0;
}

.fa-circle-check{
    font-size: 24px;
}

.fa-trash-can{
    color: red;
    font-size: 18px;
}

.cancel-booking-link{
    text-decoration: none;
    color: red;
    font-weight: 500;
    margin-bottom: 10px;
}

.reservation-form{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    color: white;
    border: solid 1px white;
}

.btn-primary{
    margin-top: 15px;
    text-align: center;
    width: 25%;
    margin-bottom: 15px;
}

/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 80%;
    margin-left: 10%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .menu-items{
    list-style: none;
  }

  .menu-desc{
    text-align: center;
  }

  li.menu-items>p{
    text-align: center;
  }

  hr.menu-hr{
    width: 50%;
    margin-left: 25%;
  }

  #set-menu{
    width: 75%;
    margin-left: 12.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  #a-la-carte{
        width: 75%;
        margin-left: 12.5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
  }

  #theatre-menu{
        width: 75%;
        margin-left: 12.5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
  }

.event-image>img{
    max-width: 100%;
    max-height: 100%;
}

.booking-p{
    width: 50%;
    margin-left: 25%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 25px;
    margin-bottom: 30px;
}
 
footer{
    margin-top: 40px;
}

.footer-container{
    border-top: solid 1px rgba(0,0,0,0.2);
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.heading-space{
    margin: 45px 0;
}

.background-image-reservation{
    background: url("/static/images/reservation.jpg") 50% 0 no-repeat fixed;
    height: 80%;
    min-height: 80%;
    max-width: 100%;
	
  /* Set up proportionate scaling */
    width: 100%;
    height: auto;
	
  /* Set up positioning */
    position: absolut;
    top: 0;
    left: 0;
}

.events-info-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.events-title{
    text-decoration: none;
}

.event-link{
    text-decoration: none;
    color: black;
}

.edit-button{
    text-decoration: none;
    color: blue;
}

.profile-image-nav{
    width: 30px;
    height: 30px;
    border-radius: 50% ;
}

.personal-info-form{
    max-width: 80%;
    margin-left: 10%;
}

.edit-username-form{
    width: 50%;
    margin-left: 25%;
}

.edit-booking-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
}

ul.fa-ul{
    margin-left: 0;
}

/* Media Queries */

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .mobile-hidden{
        display: none;
    }

    ul.fa-ul{
        margin-left: 0;
    }

    .details-col{
        text-align: center;
    }

    .image-col{
        border-right: none;
    }

    .heading-space{
        margin: 20px 0;
        text-decoration: underline;
    }

    .btn-primary{
        width: 60%;
    }

    .cancel-changes{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .cancel-booking-changes{
        width: 80%;
        margin-bottom: 20px;
    }

    ul{
        padding: 0;
    }

    .booking-p{
        width: 95%;
        margin-left: 2.5%;
    }

    .centered-text{
        top: 50%;
    }

    .first-image{
        width: 90%;
    }

    .navbar-nav{
        flex-direction: column;
    }

    .copyright{
        max-width: 100%;
    }

    .reservation-form{
        width: 95%;
        margin-left: 2.5%;
        height: 100%;
        z-index: 1;
        padding: 5px;
        height: auto;
    }

    .background-image-reservation{
        min-height: fit-content;
        padding-bottom: 20px;
    }

    .edit-profile-form{
        margin: 30px 0;
    }

    .edit-booking-form{
        width: 95%;
        margin-left: 2.5%;
    }

    .personal-information{
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 576px){
	/*Big smartphones [426px -> 600px]*/

    .image-container{
        max-width: 100%;
    }

    .mobile-hidden{
        display: none;
    }

    .first-image{
        width: 90%;
    }

    .event-image>img{
        margin-bottom: 15px;
    }

    .booking-p{
        width: 80%;
        margin-left: 10%;
    }

    ul.fa-ul{
        margin-left: 0;
    }

    .navbar-nav{
        flex-direction: column;
    }

    .reservation-form{
        width: 80%;
        margin-left: 10%;
    }

    .edit-button{
        display: block;
    }

    .edit-profile-link{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }
}

/* Medium Devices */
@media (max-width: 768px) {

    .booking-p{
        width: 80%;
        margin-left: 10%;
    }

    .fa-ul{
        margin: 0;
    }

    .footer-socials{
        margin-bottom: 20px;
    }

    .first-image{
        width: 90%;
    }

    .copyright{
        max-width: 100%;
    }

    .reservation-form{
        width: 80%;
        margin-left: 10%;
    }

    .navbar-nav{
        flex-direction: column;
    }

    .edit-button{
        display: block;
    }

    .btn-primary{
        width: 60%;
    }

    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        display: contents;
    }

    ul{
        margin: 0;
    }

    .image-col{
        border-right: none;
    }

}

/* Landscape tablets and large phones */
@media only screen and (min-width: 768px) {

    .navbar-nav{
        flex-direction: column;
    }

    .reservation-form{
        width: 60%;
        margin-left: 20%;
    }

    .edit-button{
        font-weight: 700;
        display: block;
    }

    .booking-p{
        width: 70%;
        margin-left: 15%;
    }

    .btn-primary{
        width: 50%;
    }
}

/* Extra large screens */

@media only screen and (min-width: 1200px) {

    .booking-p{
        width: 50%;
        margin-left: 25%;
    }

    .reservation-form{
        width: 50%;
        margin-left: 25%;
    }
} 