body{
    display: flex;
    flex-direction: row;
    
}

.image-container{
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
}

.centered-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px white;
    padding: 15px;
}


.first-image{
    max-height: 700px;
    width: 80%;
}

.fa-circle-user { 
    color: gray;
    font-size: 26px;
}

.fa-unlock {
    color: gray;
    font-size: 24px;
}

.nav-main-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-heading{
    text-align: center;
}
.profile-page{
    height: fit-content;
    width: 100%;
    border: black solid 1px;
    padding: 5px;
}

.personal-information{
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.profile-image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid black 2px;
}

.image-col{
    border-right: solid black 1px;
}

hr{
    margin: 10px;
}

.text-center{
    align-self: center;
}

.reservation{
    background-color: rgba(245, 114, 7, 0.288);
    color: white;
}

.alternate-reservation{
    background-color: brown;
    color: white;
}

.underline{
    text-decoration: underline;
}

.bookings-heading{
    margin: 25px;
}

.profile-booking{
    border: solid black 1px;
    border-top: 0;
}

.details-col{
    margin: auto;
}

.awaiting-confirmation{
    color: goldenrod;
    margin: 10px 0;
}

.fa-circle-exclamation{
    font-size: 24px;
}

.booking-declined{
    color: orangered;
    margin: 10px 0;
}

.fa-circle-xmark{
    font-size: 24px;
}

.booking-confirmed{
    color: green;
    margin: 10px 0;
}

.fa-circle-check{
    font-size: 24px;
}

.fa-trash-can{
    color: red;
    font-size: 18px;
}

.cancel-booking-link{
    text-decoration: none;
    color: red;
    font-weight: 500;
    margin-bottom: 10px;
}

form{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.btn-primary{
    margin-top: 15px;
    text-align: center;
    width: 25%;
    margin-left: 37.5%;
}

/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 80%;
    margin-left: 10%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }