{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="profile-heading">Edit Profile Page</h2>

<div class="container profile-page">
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center image-col">
        <h5><strong>{{ user.username}}'s</strong> Profile</h5>
        <img src="https://cdn.pixabay.com/photo/2014/11/14/13/29/evil-530640_960_720.jpg" class="profile-image">
        <h5 class="text-center"><strong>Joined:</strong> 1st March 2022</h5>
      </div>
        <div class="col-sm-12 col-md-8 personal-information">
          <h3><strong>Personal Information</strong></h3>
            <h5><strong>Username:</strong> {{ user.username }}</h5>  
            <h5><strong>Account Number:</strong> 100{{ user.id }} {{ user.first_name }}</h5> 
            <h5>{% crispy form %}</h5>
            <h5><strong>Phone:</strong> {{user.contact_phone}}</h5>
            <p>Change your contact preferences for our Newsletter & upcoming events<br> and ticket info here: <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></p>

        </div>
    </div>
</div>

{% else %}
<h3 class="text-center">Please login or sign up to an account to be able to see your Profile Page</h3>
{% endif %}

{%endblock%}