{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="profile-heading">Profile Page</h2>

<div class="container profile-page">
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center image-col">
        <h5><strong>{{ user.username}}'s</strong> Profile</h5>
          <!--Profile image-->
        {% if "placeholder" in user.customer.profile_image %}
          <img src="https://cdn.pixabay.com/photo/2014/11/14/13/29/evil-530640_960_720.jpg" class="profile-image">
        {% else %}
          <img src="{{ user.customer.profile_image.url }}"  class="profile-image">
        {% endif %}
        <h5 class="text-center"><strong>Joined:</strong> {{ user.date_joined }}</h5>
      </div>
        <div class="col-sm-12 col-md-8 personal-information">
            <h3><strong>Personal Information</strong></h3>
            <form method="POST" class="personal-info-form">
            {% crispy form %}
            </form>
            <h5 class="text-center cancel-changes">To cancel any changes then please click <a href="{% url 'profile' %}">here</a></h5>
        </div>
    </div>
</div>


{% else %}
<h3 class="text-center">Please login or sign up to an account to be able to see your Profile Page</h3>
{% endif %}

{%endblock%}
