{% extends 'base.html' %} {% block content %}


<h3 class="text-center">{{ event.title }}</h3>
<div class="container events-info-container">
    <div class="row">
        <div class="d-none d-md-block col-md-6 masthead-image">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in event.featured_image.url %}
            <img src="https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%">
            {% else %}
            <img src="{{ event.featured_image.url }}" width="100%">
            {% endif %}
        </div>
      <div class=" col-sm-12 col-md-6">
        <p>{{ event.description | safe }}</strong>
        </p>
        <p><h4>Date: {{ event.date }} <br>Time: {{ event.time}}</h4></p>
        <p class="card-test">Tickets available: {{ event.tickets_available }}</p>
      </div>
    </div>
  </div>


{% endblock content %}