{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Heading | Hero-->
<div class="image-container">
    <img class="d-block w-90 m-auto first-image" src="{% static 'images/dark-table.jpg' %}" alt="Darkly lit table">
    <h1 class="centered-text">Cocina Del Diablo</h1>
</div>

<h2 class="text-center">Our Venue</h2>
<!-- Restaurant Cards -->

<!--Card Group-->
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/bar.jpg' %}" class="card-img-top"
          alt="Skyscrapers" />
        <div class="card-body">
          <h5 class="card-title">Bar</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/small-restaurant.jpg' %}" class="card-img-top"
          alt="Los Angeles Skyscrapers" />
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/venue2.jpg' %}" class="card-img-top"
          alt="Palm Springs Road" />
        <div class="card-body">
          <h5 class="card-title">Venue</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This card has even longer content than the first to show
            that equal height action.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Menu Section-->
<h3 class="text-center">Menus</h3>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openMenu(event, 'a-la-carte')">A la carte</button>
    <button class="tablinks" onclick="openMenu(event, 'set-menu')">Set Menu for 2</button>
    <button class="tablinks" onclick="openMenu(event, 'theatre-menu')">Theatre Menu</button>
  </div>
  
  <!-- Tab content -->
  <!--A la carte content-->
  <div id="a-la-carte" class="tabcontent">
    <h3 class="text-center">A la carte Menu</h3>
    <p class="text-center">See below our A la cart menu</p>
  </div>
  
  <!--Set menu Content-->
  <div id="set-menu" class="tabcontent">
    <h3 class="text-center">Set Menu for 2</h3>
    <p class="text-center">Check out our set menu for 2 at a great price.</p>
    <!--Starters-->
    <h4 class="text-center">Starters:</h4>
    <hr class="menu-hr">
    <ul>
        {% for starter in starters %}
        <li class="menu-items"><h5 class="text-center">{{ starter.title }} | {{ starter.price }}</h5>
            <p class="menu-desc">{{ starter.description | safe }}</p>
        </li>
        {% endfor %}
    </ul>
        <!--Mains-->
    <h4 class="text-center">Main Dishes:</h4>
    <hr class="menu-hr">
    <ul>
        {% for main in mains %}
        <li  class="menu-items"><h5 class="text-center">{{ main.title }} | {{ main.price }}</h5>
            <p class="menu-desc">{{ main.description | safe }}</p>
        </li>
        {% endfor %}
    </ul>
        <!--Desserts-->
    <h4 class="text-center">Desserts:</h4>
    <hr class="menu-hr">
    <ul>
        {% for dessert in desserts %}
        <li  class="menu-items"><h5 class="text-center">{{ dessert.title }} | {{ dessert.price }}</h5>
            <p class="menu-desc">{{ dessert.description | safe }}</p>
        </li>
        {% endfor %}
    </ul>
  </div>
  
  <div id="theatre-menu" class="tabcontent">
    <h3 class="text-center">Theatre Menu</h3>
    <p class="text-center">Check out our pre-theatre menu. Ideal for those looking to be in and out quickly.</p>
  </div>
 

<!-- <div class="container-fluid">
    <div class="row">

        <h5>Starters:</h5>
    <hr/>
    <ul>
        {% for starter in starters %}
        <li><h5>{{ starter.title }} | {{ starter.price }}</h5>
            {{ starter.description | safe }}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <ul>
        {% for main in mains %}
        <li><h5>{{ main.title }} | {{ main.price }}</h5>
            {{ main.description | safe }}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <ul>
        {% for dessert in desserts %}
        <li><h5>{{ dessert.title }} | {{ dessert.price }}</h5>
            {{ dessert.description | safe }}
        </li>
        {% endfor %}
    </ul>
    <hr>
 
    </div>
</div>
-->



<!--Pagination-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}