{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Heading | Hero-->
<div class="image-container">
    <img class="d-block w-90 m-auto first-image" src="{% static 'images/dark-table.jpg' %}" alt="Darkly lit table">
    <h1 class="centered-text">Cocina Del Diablo</h1>
</div>

<h2 class="text-center heading-space">Our Venue</h2>
<!-- Restaurant Cards -->

<!--Card Group-->
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/bar.jpg' %}" class="card-img-top"
          alt="Dark image of the dive style bar" />
        <div class="card-body">
          <h5 class="card-title">Bar</h5>
          <p class="card-text">
            Sip away some of the finest cocktails in a our dark arts bar. Goat's blood on ice is to die for!
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/small-restaurant.jpg' %}" class="card-img-top"
          alt="Darkly candle lit restaurant" />
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p class="card-text">Dine like a dark king in our great hall room. Dim lighting and dark decor create an intimate setting.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/venue2.jpg' %}" class="card-img-top"
          alt="Picture of the Venue with a drummer playing the drums" />
        <div class="card-body">
          <h5 class="card-title">Venue</h5>
          <p class="card-text">
            Party on into the late wee hours in our own venue hall. Themed nights ran every month.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Menu Section-->
<h3 class="text-center heading-space">Menus</h3>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openMenu(event, 'a-la-carte')">A la carte</button>
    <button class="tablinks" onclick="openMenu(event, 'set-menu')">Set Menu for 2</button>
    <button class="tablinks" onclick="openMenu(event, 'theatre-menu')">Theatre Menu</button>
</div>
  
<!-- Tab content -->
<!--A la carte content-->
<div id="a-la-carte" class="tabcontent">
  <h3 class="text-center">A la carte Menu</h3>
  <p class="text-center">See below our A la cart menu</p>
  <!--Starters-->
  <h4 class="text-center">Starters:</h4>
  <hr class="menu-hr">
  <ul>
      {% for starter in starters %}
          <li class="menu-items">
            <h5 class="text-center">{{ starter.title }} | {{ starter.price }}</h5>
            <p class="menu-desc">{{ starter.description | safe }}</p>
          </li>
      {% endfor %}
  </ul>
      <!--Mains-->
  <h4 class="text-center">Main Dishes:</h4>
  <hr class="menu-hr">
  <ul>
      {% for main in mains %}
          <li  class="menu-items">
              <h5 class="text-center">{{ main.title }} | {{ main.price }}</h5>
              <p class="menu-desc">{{ main.description | safe }}</p>
          </li>
      {% endfor %}
  </ul>
      <!--Desserts-->
  <h4 class="text-center">Desserts:</h4>
  <hr class="menu-hr">
  <ul>
      {% for dessert in desserts %}
          <li  class="menu-items">
              <h5 class="text-center">{{ dessert.title }} | {{ dessert.price }}</h5>
              <p class="menu-desc">{{ dessert.description | safe }}</p>
          </li>
      {% endfor %}
  </ul>
</div>
  
<!--Set menu Content-->
<div id="set-menu" class="tabcontent">
  <h3 class="text-center">Set Menu for 2</h3>
  <p class="text-center">Check out our set menu for 2 at a great price.</p>
  <!--Starters-->
  <h4 class="text-center">Starters:</h4>
  <hr class="menu-hr">
  <ul>
      {% for starter in starters %}
        {% if starter.menu.name == 'Set menu for 2' %}
          <li class="menu-items">
            <h5 class="text-center">{{ starter.title }} | {{ starter.price }}</h5>
            <p class="menu-desc">{{ starter.description | safe }}</p>
          </li>
        {% endif %}
      {% endfor %}
  </ul>
      <!--Mains-->
  <h4 class="text-center">Main Dishes:</h4>
  <hr class="menu-hr">
  <ul>
      {% for main in mains %}
        {% if main.menu.name == 'Set menu for 2' %}
          <li  class="menu-items">
              <h5 class="text-center">{{ main.title }} | {{ main.price }}</h5>
              <p class="menu-desc">{{ main.description | safe }}</p>
          </li>
        {% endif %}
      {% endfor %}
  </ul>
      <!--Desserts-->
  <h4 class="text-center">Desserts:</h4>
  <hr class="menu-hr">
  <ul>
      {% for dessert in desserts %}
        {% if dessert.menu.name == 'Set menu for 2' %}
          <li  class="menu-items">
              <h5 class="text-center">{{ dessert.title }} | {{ dessert.price }}</h5>
              <p class="menu-desc">{{ dessert.description | safe }}</p>
          </li>
        {% endif %}
      {% endfor %}
  </ul>
</div>

<div id="theatre-menu" class="tabcontent">
  <h3 class="text-center">Theatre Menu</h3>
  <p class="text-center">Check out our pre-theatre menu. Ideal for those looking to be in and out quickly.</p>
  <!--Starters-->
  <h4 class="text-center">Starters:</h4>
  <hr class="menu-hr">
  <ul>
      {% for starter in starters %}
        {% if starter.menu.name == 'Theatre Menu' %}
          <li class="menu-items">
            <h5 class="text-center">{{ starter.title }} | {{ starter.price }}</h5>
            <p class="menu-desc">{{ starter.description | safe }}</p>
          </li>
          {% endif %}
      {% endfor %}
  </ul>
      <!--Mains-->
  <h4 class="text-center">Main Dishes:</h4>
  <hr class="menu-hr">
  <ul>
    {% for main in mains %}
        {% if main.menu.name == 'Theatre Menu' %}
          <li  class="menu-items">
              <h5 class="text-center">{{ main.title }} | {{ main.price }}</h5>
              <p class="menu-desc">{{ main.description | safe }}</p>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
      <!--Desserts-->
  <h4 class="text-center">Desserts:</h4>
  <hr class="menu-hr">
  <ul>
      {% for dessert in desserts %}
        {% if dessert.menu.name == 'Theatre Menu' %}
          <li  class="menu-items">
              <h5 class="text-center">{{ dessert.title }} | {{ dessert.price }}</h5>
              <p class="menu-desc">{{ dessert.description | safe }}</p>
          </li>
        {% endif %}
      {% endfor %}
  </ul>
</div>
 
<!--Events Section-->
<h3 class="text-center heading-space">Events</h3>

<div class="container events-info-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 event-image">
      <img src="{% static 'images/event.jpg' %}" alt="people in a venue watching a music act play">
    </div>
    <div class=" col-sm-12 col-md-6">
      <p>Here at La Cocina Del Diablo we love what we do and we think we are pretty good at it. 
        Rather than just be your traditional restaurant we decided we wanted to embrace our space and make sure it can fit any occasion.<br><br>
        At least twice a month we have late night or even all day events featuring a variety of bands, dj's and the most vibrant eclectic groups.<br><br>
        The events are all free entry unless otherwise stated but as space is 
        a premium and to not let down our loyal customers at the door you will need to register to apply for tickets.<br><br>
        <strong>Select one of the events below to see more information and to be taken to the booking page to reserve your ticket.</strong>
      </p>
    </div>
  </div>
</div>

<!--Upcoming Events-->
<h3 class="text-center heading-space">Upcoming Events</h3>
<!--Card Group-->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'images/dayofdead.jpg' %}" class="card-img-top"
            alt="Dark image of the dive style bar" />
          <div class="card-body">
            <h5 class="card-title">Day of the Dead</h5>
            <p class="card-text">
              Party away in traditional latin style. Beads everywhere, Incredible costumes and a party atmosphere like no other.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2nd November @ 19:30 till late</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'images/devils-night.jpg' %}" class="card-img-top"
            alt="Darkly candle lit restaurant" />
          <div class="card-body">
            <h5 class="card-title">Devils Night</h5>
            <p class="card-text">Come out and show your tribute to the Morning Star. Welcome blood shots on arrival.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">30th October @ 19:00 till very late</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'images/halloween.jpg' %}" class="card-img-top"
            alt="Picture of the Venue with a drummer playing the drums" />
          <div class="card-body">
            <h5 class="card-title">Halloween Spectacular</h5>
            <p class="card-text">
              Our famous Halloween Spectacular evening combines live music and cheap drinks in a dark atmosphere. Dress up is encouraged.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">31st October @ 18:00 till late</small>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Booking notice-->
<h3 class="text-center heading-space">Restaurant Bookings</h3>

<p class="booking-p">
  Online Restaurant Bookings are available to registered users through this website.
  <br>Once you submit your request, 
  one of our managers on site will check for availability and notify you via e-mail within 24 hours if we can accommodate you.<br><br>
If your request is to dine with us within the next 24 hours then please call us to see if there is any availability.<br><br>
Our contact number is (353)12345667 and we are open 3pm to 11pm. <br><br>
For Restaurant bookings please follow the link below:<br><br>
<a href="{% url 'restaurant' %}">Restaurant Bookings</a>
</p>

<!--Pagination-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}