{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}
<h3 class="profile-heading">Profile Page</h2>

<div class="container profile-page">
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center image-col">
        <h5><strong>{{ user.username}}'s</strong> Profile</h5>
        <img src="https://cdn.pixabay.com/photo/2014/11/14/13/29/evil-530640_960_720.jpg" class="profile-image">
        <h5 class="text-center"><strong>Joined:</strong> 1st March 2022</h5>
      </div>
        <div class="col-sm-12 col-md-8 personal-information">
            <h3><strong>Personal Information</strong></h3>
            <h5><strong>Username:</strong> {{ user.username }} <a href="/edit/{{ user.username }}">Edit</a></h5> 
            <h5><strong>First Name:</strong> {{ user.fname }} <a href="/edit/{{ user.username }}">Edit</a></h5>
            <h5><strong>Last Name:</strong> {{ customer.last_name }} <a href="/edit/{{ user.username }}">Edit</a></h5> 
            <h5><strong>User ID:</strong> {{ user.id }} {{ user.first_name }}</h5> 
            <h5><strong>Email:</strong> {{ user.email }} <a href="#">Edit</a></h5>
            <h5><strong>Phone:</strong> {{user.contact_phone}} <a href="#">Edit</a></h5>
            <p>Change your contact preferences for our Newsletter & upcoming events<br> and ticket info here: <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></p>
        </div>
    </div>
</div>


<div class="container profile-booking">
    <div class="row">
        <div class="col-sm-12 personal-information">
            <h4 class="underline bookings-heading">Bookings</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p><strong>Title:</strong></p>
        </div>
        <div class="col-sm-3 text-center">
            <p><strong>Number of Attendees:</strong></p>
        </div>
        <div class="col-sm-3 text-center">
            <p><strong>Status:</strong></p>
        </div>
    </div>
    {% for booking in bookings %}
        {% if user.email == booking.email %}
            <hr>
            <div class="row reservation">
                <div class="col-sm-6">
                    <p><strong>Title:</strong> Reservation or Event</p>
                    <p><strong>Date:</strong>{{ booking.booking_date }} | <strong>Time:</strong>{{booking.booking_time}}</p>
                </div>
                <div class="col-sm-3 text-center">
                    <p><strong>{{ booking.pax }}</strong></p>
                </div>
                    {% if booking_confirmed != False %}
                        <div class="col-sm-3 text-center awaiting-confirmation">
                            <p><strong><i class="fa-solid fa-circle-exclamation"></i><br>Not<br>Confirmed</strong></p>
                            <span><a href="{% url 'edit_booking' booking.id %}" class="event-link">Edit</a></span>
                        </div>
                    {% else %}
                        <div class="col-sm-3 text-center booking-confirmed">
                            <p><strong><i class="fa-solid fa-circle-check"></i><br>Booking<br>Confirmed</strong></p>
                        </div>
                    {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% else %}
<h3 class="text-center">Please login or sign up to an account to be able to see your Profile Page</h3>
{% endif %}

{%endblock%}
